<body>
    <table style="width:100%; border-collapse: collapse;" border="1">
        <tr>
            <th style="border: 1px solid black; padding: 8px;">Email</th>
            <th style="border: 1px solid black; padding: 8px;">First Name</th>
            <th style="border: 1px solid black; padding: 8px;">Last Name</th>
            <th style="border: 1px solid black; padding: 8px;">Address</th>
            <th style="border: 1px solid black; padding: 8px;">Action</th>
        </tr>
        <% for(let i=0; i < datalist.length; i++) { %>
        <tr>
            <td style="border: 1px solid black; padding: 8px;"><%= datalist[i].email %></td>
            <td style="border: 1px solid black; padding: 8px;"><%= datalist[i].firstName %></td>
            <td style="border: 1px solid black; padding: 8px;"><%= datalist[i].lastName %></td>
            <td style="border: 1px solid black; padding: 8px;"><%= datalist[i].address %></td>
            <td style="border: 1px solid black; padding: 8px;">
                <a href="/edit-crud?id=<%= datalist[i].id %>">Edit</a> || 
                <a href="/delete-crud?id=<%= datalist[i].id %>">Delete</a>
            </td>
        </tr>
        <% } %>
    </table>
</body>
